.ayla{
  width: 100%;
  background: no-repeat url('https://images.pexels.com/photos/220072/pexels-photo-220072.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.ayla span {
  color: #ffd6f8;
}

.social-ayla {
  height: 60px;
  background: #ffd6f8a5;
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
}

.social-ayla img {
  width: 48px;
  margin-top: 5px;
  transition: 0.4s transform;
}

.social-ayla img:hover {
  transform: scale(1.2);
}

.elizabeth {
  background: var(--roxo);
  width: 100%;
  color: var(--branco);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.elizabeth img {
  border-radius: 50%;
}

.nome-elizabeth {
  font-size: 32px;
	background: linear-gradient(to right, #ff00d0, #f49fbe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	background-size: 200% auto;
	animation: cor 3s linear infinite;
	text-align: center;
}

@keyframes cor {
    to {
      background-position: 200% center;
    }
  }


.social-elizabeth {
  display: flex;
  gap: 16px;
}

.social-elizabeth img {
  width: 32px;
  transition: 0.3s box-shadow;
}

.social-elizabeth img:hover {
  box-shadow: 2px 2px 10px #f49fbe;
}

.noah {
  width: 100%;
}

/* OLIVER */
.cardsOliver {
  background: var(--fundo-pagina-portfolio);
}

.oliver {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 5px;
  background: linear-gradient(#2c3333, #395b64);
  color: #0a0c0d;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cardsOliver:hover .oliver {
  transform: rotateY(180deg);
}

.oliverCardFrente,
.oliverCardCostas {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
  transform: rotateX(0deg)
}

.oliverCardCostas {
  transform: rotateY(180deg);
}

.oliverCardHover {
  margin-top: 1.0rem;
  font-size: 1.2rem;
}

.cardCostasTop,
.cardCostasBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.7rem;
}

.cardCostasBottom {
  gap: 1.5rem;
}

.oliverCardCostas .nomeOliver,
.oliverCardCostas .aboutOliver {
  margin: 0;
}

.imgCardOliver {
  width: 110px;
  border-radius: 50%;
}

.nomeOliver {
  color: #041017;
  font-weight: bold;
  font-size: 2.7rem;
}

.aboutOliver {
  font-size: 2.0rem;
  color: #eefdfd;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 25px;
}

.citacao {
  font-size: 1.7rem;
}

.iconsOliver i {
  display: inline-block;
  color: #a5c8ca;
  text-decoration: none;
  cursor: pointer;
  margin-top: 25px;
}

.iconsOliver:visited i {
  color: #282828;
}
/*  */

/* ----klaus----- */
.klaus {
  width: 100%;
  background-color:  #0a0c0d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #348e91;
}

.klaus img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: 1rem;
  box-shadow: 0 1px 30px #348e91;
}

.klaus h2 {
  margin-top: 1rem;
}

.klaus p {
  font-size: 2rem;
  margin-top: 1rem;
}

.klaus .social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.klaus .social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.klaus .social-icons img {
  position: absolute;
  top: -1rem;
  left: -1rem;
  transition: all 265ms ease-out;
  width: 45px;
  height: 45px;
  box-shadow: 0 1px 10px #348e91;
}

.klaus .social-icons a:before {
  transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #d8f9fa, #213635 );
  transition: all 0.8s ease-out;
}

.klaus .social-icons a:hover img {
  transform: scale(1.2);
  background: linear-gradient(45deg, #213635, #d8f9fa);
  transition: all 0.5s ease-in;
}

/* ----------------------------- */

.nicolas {
  width: 100%;
}
.victor {
  width: 100%;
}

.kiu {
  width: 100%;
}