.ayla{

}

.elizabeth {
  background: var(--roxo);
  width: 100%;
  color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;  
}

.noah {

}

.oliver {

}

.klaus {

}

.victor {
  
}