body {
    background: var(--fundo-pagina-portfolio);
    font-size: 2.7rem;
}

.baseMenu {
  width: 15%;
  height: 100vh;
  background: var(--fundo-pagina-portfolio);
}

.divisaoPaginaPrincipal {
    display: flex;
    min-height: 100vh;
    scroll-snap-align: start; /* ONDE QUE O SNAP VAI COMEÇAR (NO TOPO -> START)*/
  }
  
  .paginaPrincipal {
    width: 85%;
    padding: 48px 56px;
    
    color: var(--roxo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  /* ❗❗❗ADICIONEI ESSAS DIVS PRA FICAR MAIS FÁCIL DE DIVIDIR O CONTEÚDO, AÍ COLOQUEI ALGUMAS ALTURAS PRA ELAS */
  .paginaPrincipalTopo, .paginaPrincipalBottom {
    height: 12%;
    width: 100%;
  }

  .tituloColaboradores{
    color: var(--branco);
    margin-bottom: 1rem;
  }

  .cardsConjunto {
    width: 100%;   
    display: flex;
    height: 35rem;
    margin: 1rem;
    gap:1rem;
  }
  
  .cards {
    //border: 1px solid var(--fundo-card);
    border-radios: 3px;
    width: 36rem;
    display: flex;
    justify-content: center;
    background: var(--fundo-card);
    pading: 0;
    margin: 0;
  }