/*********************      Menu Fixo   ****************************/
.baseMenu {
  width: 15%;
  height: 100vh;
  background: var(--fundo-primeira-pagina);
}

.menu {
  width: 15%;
  height: 100vh;
  background: var(--fundo-menu);
  position: fixed;
}

.menuSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logoTransCode {
  width: 10.8rem;
  margin: 3rem auto;
}

.navegacaoLista {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
  margin: 8rem auto;
}

.navegacaoLinks {
  text-transform: uppercase;
  color: var(--branco);
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: none;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8rem;
}

.logoAlura,
.logoSuzano {
  width: 8rem;
}

.hamburger {
  display: none;
}

.exit {
  display: none;
}