/**** Section 2 **************/
.SegundoConteudo {
  width: 100%;
  min-height: 100vh;
  padding: 48px 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--fundo-segunda-pagina);
  scroll-snap-align: start;
}

.containerSegundoConteudo {
  margin-left: 25%;
}

.titulo2,
.texto2,
.titulo3,
.texto3, 
.linkTexto3 {
  width: 80%;
  margin: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--roxo);
  line-height: 2.5rem;
}

.titulo2, .titulo3 {
  text-align: center;
}

.titulo3,
.texto3,
.linkTexto3 {
  color: var(--branco);
}

.linkTexto3 {
  text-decoration: none;
}


/* ❗❗❗COMENTEI AQUI PORQUE NÃO TEM FOOTER / NÃO ACHEI O FOOTER*/
/* footer {
  background: linear-gradient(
    130deg,
    rgba(252, 70, 107, 1) 0%,
    rgba(9, 9, 121, 1) 55%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 200% 200%;
  animation: backgroundTransition 8s ease-in-out infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
}

footer img {
  width: 10%;
  padding: 2rem;
}
 */

/*❗❗❗ ESSA ANIMAÇÃO AQUI É DO QUE?*/
/* @keyframes backgroundTransition {
  0% {
    background-position: 0% 70%;
  }
  50% {
    background-position: 70% 100%;
  }
  100% {
    background-position: 0% 80%;
  }
}
 */