/*********************      geral   ****************************/

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--fundo);
}


.paginaPrincipal {
  flex: 2;
  color: var(--branco);
  display: flex;
  align-items: center;
}


/*********************      Menu Fixo   ****************************/

.menu {
  width: 15%;
  height: 100%;
  background: var(--fundo-menu);
  padding: auto;
  align-self: center;
  position: fixed;
  flex: 1;
}

.menuSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logoTransCode {
  width: 10.8rem;
  margin: 3rem auto;
}

.navegacaoLista {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
  margin: 8rem auto;
}

.navegacaoLinks {
  text-transform: uppercase;
  color: var(--branco);
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: none;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8rem;
}

.logoAlura,
.logoSuzano {
  width: 8rem;
}

/*********************     conteudo geral   ****************************/

main {
  width: 83%;
  height: 100vh;
  margin-left: 17%;
  margin-right: 3%;
}

.principal {
  width: 100%;
  display: flex;
  justify-content: center;
}

.principalConteudo {
  width: 105rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 0;
}

/*********************      conteudo   ****************************/
.tituloQuemSomos {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 4.3rem;
  align-self: flex-start;
  margin-bottom: 4 rem;
  margin-left: 5rem;
}

.textoQuemSomos {
  width: 60%;
  margin: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.chaves {
  font-size: 3rem;
  font-weight: 700;
  align-self: flex-start;
  margin-top: 2rem;
  margin-left: 5rem;
}

.videoSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; 
  margin-top: 8rem;
}

.video {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 0 4rem 5rem 4rem;
}

.videoTamanho {
  width: 100%;
  height: 100%;
  margin: 4rem;
}

.vetores {
  width: 8rem;
  margin-bottom: 5rem;
}


/*********** Section 2 **************/
.SegundoConteudo {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.titulo2,
.texto2,
.titulo3,
.texto3, 
.linkTexto3 {
  width: 60%;
  margin: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--roxo);
  line-height: 2.5rem;
}

.titulo3,
.texto3,
.linkTexto3 {
  color: var(--branco);
}

.linkTexto3 {
  text-decoration: none;
}

footer {
  background: linear-gradient(
    130deg,
    rgba(252, 70, 107, 1) 0%,
    rgba(9, 9, 121, 1) 55%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 200% 200%;
  animation: backgroundTransition 8s ease-in-out infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
}

footer img {
  width: 10%;
  padding: 2rem;
}

@keyframes backgroundTransition {
  0% {
    background-position: 0% 70%;
  }
  50% {
    background-position: 70% 100%;
  }
  100% {
    background-position: 0% 80%;
  }
}
