html, body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

main{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;  
  
}

.menu {
  width: 25%;
  height: 100%;
  background-image: var(--azul-menu-1), var(--azul-menu-2);
  padding: 1rem;
  display: flex;
  flex-direction: column;   
  /* justify-content: center; */
  align-items: center;
  position: fixed;
  font-size: 2rem;
}

.logoTransCode {
  width: 108px;
  height: 122px;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;    
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

.logoAlura,
.logoSuzano {
  width: 80px;
}

.bandeiraLateral {
  position: fixed;
  width: 3%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--azul-bandeira),
    var(--rosa-bandeira),
    var(--branco-bandeira),
    var(--rosa-bandeira),
    var(--azul-bandeira)
  );
  right: 0%;
}

.principal {
  width: 100vw;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  margin-left: 25%;
  position: relative;

}

.video {
  height: 369px;
  width: 539px;
  border: #000000 1px solid;
  margin-bottom: 2.75em;
}

.tituloQuemSomos {
  font-size: 40px;
  font-weight: 700;
  line-height: 43px;
  margin-bottom: 3.3em;
  position: absolute;
  top: 1.5em;
  left: 1em;
}

.textoQuemSomos {
  height: 1.25em;
  width: 33em;
}


footer {
background: linear-gradient(130deg, rgba(252,70,107,1) 0%, rgba(9,9,121,1) 55%, rgba(0,212,255,1) 100%);
background-size: 200% 200%;
animation: backgroundTransition 8s ease-in-out infinite;
display: flex;
align-items: center;
justify-content: center;
height: 15rem;
}

footer img {
  width: 10%;
  padding: 2rem;  
  
}

@keyframes backgroundTransition {
  0% {
    background-position: 0% 70%;
  }
  50% {
    background-position: 70% 100%;
  }
  100% {
    background-position: 0% 80%;
  }
}