/*********************      geral   ****************************/
html, body {
  height: 100vh;
  width: 100%;
}

body{
  display: flex;  
  flex-direction: column;  
}

/*********************   Imagem Fundo Principal   ****************************/
.paginaPrincipal {
  background: url(../images/fotoFundoPrincipal.jpeg) no-repeat fixed;
  background-size: 100% 100% ;
  flex: 2;
  color: var(--branco-bandeira);
  display: flex;
  align-items: center;
}

.paginaPrincipal::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--opacidade-fundo);
}

/*********************      Menu Fixo   ****************************/

.menu {
  width: 17%;
  height: 100%;
  background-image: var(--azul-menu-1), var(--azul-menu-2);
  padding: auto;
  margin: auto;  
  align-self: center;
  position: fixed;
  flex: 1; 
}

.menuSection {
  width:100%;
  height: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;  
}

.logoTransCode {
  width: 10.8rem;
  margin: 3rem auto;
}

.navegacaoLista {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
  margin: 8rem auto;
}

.navegacaoLinks {
  text-transform: uppercase;
  color: var(--branco-bandeira);
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top:   8rem;
}

.logoAlura,
.logoSuzano {
  width: 8rem;
}

.bandeiraLateral {
  position: fixed;
  width: 3%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--azul-bandeira),
    var(--rosa-bandeira),
    var(--branco-bandeira),
    var(--rosa-bandeira),
    var(--azul-bandeira)
  );
  right: 0%;
}

/*********************     conteudo geral   ****************************/

main {
  width: 83%;
  height: 100vh;
  margin-left: 17%;
  margin-right: 3%;  
  
}

.principal {
  width: 100%;  
  display: flex;  
  justify-content: center;    
}

.principalConteudo {
  width: 105rem;   
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  z-index: 1;
  //border: 1px solid #000;
  margin: 0;  
}

/*********************      conteudo   ****************************/
.tituloQuemSomos {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 4.3rem;  
  align-self: flex-start;
  margin-bottom: 5rem;
}


.videoSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 1rem auto;
}

.video {  
  width: 48%;
  height: 100%;
  background: var(--fundo-video);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;    
  border-radius: 10px;
}

.vetores {
  width: 5%;
}

.textoQuemSomos {
  width: 60%;
  margin: 2rem ;
  font-weight: 500;
  font-size: 1.6rem;    
}

.chaves {
  font-size: 3rem;
  font-weight: 700;
  align-self: flex-start;
  margin-top: 2rem;
}

/*********** Section 2 **************/
.SegundoConteudo {
  width: 100%;  
  display: flex;    
  justify-content: center; 
  background: var(--opacidade-fundo);
}

.imagemFundoSection2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 9rem;
}

}

footer {
  background: linear-gradient(
    130deg,
    rgba(252, 70, 107, 1) 0%,
    rgba(9, 9, 121, 1) 55%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 200% 200%;
  animation: backgroundTransition 8s ease-in-out infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
}

footer img {
  width: 10%;
  padding: 2rem;
}

@keyframes backgroundTransition {
  0% {
    background-position: 0% 70%;
  }
  50% {
    background-position: 70% 100%;
  }
  100% {
    background-position: 0% 80%;
  }
}
